# --- KANTIN PROJECT GLOBAL GITIGNORE ---

# Dependency directories
node_modules/
jspm_packages/
bower_components/

# Build outputs
dist/
dist-ssr/
build/
.output/
.next/
out/
.nuxt/

# Logs & Debugging
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Vite Specific
.vite/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Security & Environment (Sangat Penting buat GCP/API)
.env
.env.*
!.env.example
*.json
!package.json
!package-lock.json

# IDE & OS Files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.sw?

# Cache & Runtime
.cache/
.npm
.eslintcache
*.tsbuildinfo
pids
*.pid
*.seed